<a href="https://colab.research.google.com/github/Vaibhav074N/Assigement-Feb16/blob/main/Assigement_Feb16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.What is a database? Differentiate between SQL and NoSQL databases.

# Database :-
1. It is a storage system that has a collection of data.
2. Relational databases store data in the form of tables that can be easily retrieved, managed and updated.

# SQL :-

1.It manages structured data.

2.It handles data in less volume.

3.It gives only read scalability.

4.It support complex transactions.

5.Data arrives from one or few locations.

# No-SQL :-

1.It manages all type of data.

2.It handles data in high volume.

3.It gives both read and write Scalability.

4.It support simple transactions.

5.Data arrives from many locations.

Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it refers to the set of SQL commands used to define and manipulate the structure of database objects, such as tables, indexes, and views.

1.CREATE: This command is used to create a new database object, such as a table or view. 

2.DROP: This command is used to delete an existing database object, such as a table or view.

3.ALTER: This command is used to modify the structure of an existing database object, such as a table or view.

4.TRUNCATE: This command is used to delete all the data from an existing table, but it does not delete the table itself.

In [ ]:
'''
CREATE TABLE customers
(id INT PRIMARY KEY,
 name VARCHAR(50) NOT NULL,
 email VARCHAR(100) UNIQUE,
 phone VARCHAR(20));

DROP TABLE customers;

ALTER TABLE customers
ADD address VARCHAR(100);

TRUNCATE TABLE customers;

'''

Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML is used to insert new data into a database, update existing data, and delete data from a database.

In [ ]:
# 1.INSERT Statement: The INSERT statement is used to insert new data into a table in a database. The syntax for the INSERT statement is as follows:

#INSERT INTO table_name (column1, column2, column3, ...)
# VALUES (value1, value2, value3, ...);

In [ ]:
# 2.UPDATE Statement: The UPDATE statement is used to modify existing data in a table in a database. The syntax for the UPDATE statement is as follows:

#UPDATE table_name
# SET column1 = value1, column2 = value2, ...
# WHERE condition;

In [ ]:
# 3.DELETE Statement: The DELETE statement is used to delete data from a table in a database. The syntax for the DELETE statement is as follows:

#DELETE FROM table_name
# WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL is used to fetch data from one or more tables and return the result as a set of rows.

In [ ]:
#SELECT Statement: The SELECT statement is used to retrieve data from one or more tables in a database. 

# SELECT name, salary
# FROM employees
# WHERE department = 'Sales' AND salary > 50000;

Q5.Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. The primary key constraint ensures that the values in the primary key column(s) are unique and not null. Typically, a primary key is created on a single column, but it can also be created on multiple columns.

Foreign Key:
A foreign key is a column or a set of columns in a table that refers to the primary key column(s) of another table. The foreign key constraint ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table, or are null. This constraint helps maintain referential integrity between tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
'''
import mysql.connector

mydb = mysql.connector.connect(host="localhost" , user="abc" , password="password")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists Customer")
mydb.close()

'''

Explanation of cursor() and execute() methods:

cursor(): This method creates a cursor object that allows you to execute SQL statements on the MySQL database. The cursor() method is called on the database connection object, as shown in the example code above. Once you have created the cursor object, you can use it to execute SQL statements using the execute() method.

execute(): This method is used to execute an SQL statement on the MySQL database. The execute() method takes an SQL query as an argument and returns the result of the query, if any. In the example code above, we use the execute() method to execute the SQL query "SELECT * FROM customers" on the MySQL database. The result of the query is then fetched using the fetchall() method, which returns all rows of the result set as a list of tuples. Finally, we loop through the result set and print each row

Q7.Give the order of execution of SQL clauses in an SQL query.

1.FROM: This clause specifies the table(s) or view(s) from which to retrieve the data.

2.JOIN: This clause is used to join multiple tables together based on a specified condition.

3.WHERE: This clause is used to filter the rows returned by the query based on a specified condition.

4.GROUP BY: This clause is used to group the result set based on one or more columns.

5.HAVING: This clause is used to filter the groups returned by the GROUP BY clause based on a specified condition.

6.SELECT: This clause is used to specify the columns to be included in the result set.

7.DISTINCT: This clause is used to eliminate duplicate rows from the result set.

8.ORDER BY: This clause is used to sort the result set based on one or more columns.

9.LIMIT: This clause is used to limit the number of rows returned by the query.

It is important to note that not all of these clauses are required in every SQL query, and the order of execution may vary based on the specific query being executed. However, the general order of execution outlined above is a good guideline to follow when writing SQL queries.